## Gözlem ve Değişken Seçimi: loc&iloc

In [1]:
import numpy as np
import pandas as pd

In [2]:
m = np.random.randint(1,30,size=(10,3))
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df

   var1  var2  var3
0    23    29    16
1    20    23     4
2    21     2     7
3    13     3     3
4    28     4    19
5     5    26     2
6     4    17    12
7    25    21    20
8     2    21     3
9    25     9    24

In [3]:
#loc: tanımlandığı şekli ile seçim yapmak için kullanılır.

In [7]:
df.loc[0:3] #3.index dahil

   var1  var2  var3
0    23    29    16
1    20    23     4
2    21     2     7
3    13     3     3

In [5]:
#iloc: alışık olduğumuz indeksleme mantığı ile seçim yapar.

In [8]:
df.iloc[0:3] #3.index dahil değil

   var1  var2  var3
0    23    29    16
1    20    23     4
2    21     2     7

In [9]:
df.iloc[0,0]

23

In [10]:
df.iloc[:3,:2]

   var1  var2
0    23    29
1    20    23
2    21     2

In [12]:
df.loc[:3,"var3"]

0    16
1     4
2     7
3     3
Name: var3, dtype: int32

In [13]:
df.iloc[:3]["var3"]

0    16
1     4
2     7
Name: var3, dtype: int32